* {
    box-sizing: border-box;
    font-family: "Indie Flower", "Courier New", Courier, monospace;
    font-size: 1.3rem;
}

body {
    background-color: lightgray;
}

.start-container {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;   
}

.player-names {
    margin: 5px;
    padding: 1px;
}

.start-btn {
    margin: 10px;
    padding: 3px;
    width: 100px;
}

.container {
    margin: auto;
    display: none;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 3px solid black;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 2px;
    border-radius: 10px;
}

.column:hover {
    background-color: rgb(240, 238, 238);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.play-again-btn {
    width: 150px;
    padding: 5px;
    display: none;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
}